<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit details</title>
</head>
<body>
<form method="post" action="{% url 'update' edit.id %}" name="f1">
    {% csrf_token %}
    <div> Name :
        <input type="text" name="n1" id="n1" required value="{{edit.name}}">
    </div>
    <div> Age :
        <input type="number" name="a1" id="a1" required value="{{edit.age}}">
    </div>
    <div>
        <input type="submit" name="s1" value="Update">
    </div>
</form>
</body>
</html>